body
{
    background-color: #3498db;
    font-family: Helvetica;
    text-align: center;
    height: auto;
}


#uniLogo
{
    margin-top: 6em;
    border-radius: 30px;
    height: 250px;
    width: 900px;
	display: none;
}


table
{
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}


#login
{
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    border: solid gray 1px;
    border-radius: 8px;
    width: 300px;
    height: auto;
    background-color: #f2f1ef;
	display: none;
}



#loginButton
{
    margin-top: 1em;
    width: 80px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-image: -moz-linear-gradient(top, #acd6ef, #6495ed);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6495ed));
    border-radius: 5px;
    border: 1px solid #66add6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
    cursor: pointer;
    outline: none;
}



.bottomRow
{
    height: 30px;
}

.formInput
{
    font-size: 40px;
    outline: none;
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 10px;
    margin-left: 18px;
    width: 250px;
    height: 60px;
}



#createAccountButton
{
    display: inline-block;
    text-decoration: none;
    color: #3498db;
}

#createAccountButton:active
{
    display: inline-block;
    text-decoration: none;
    color: #3498db;
    text-shadow: .5px .5px #6495ed;
}

#createUser
{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
    margin-left: -250px;
    margin-top: -200px;
    border: 1px solid gray;
    border-radius: 20px;
    width: 500px;
    height: 300px;
    background-color: #f2f1ef;
}


#modal
{
    display: none;
    background:#000;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
}
