{% extends "elections/base.html" %}
{% block content %}
                        <br><br>
<a style="color:white; text-decoration:none; margin-left:2em; border: 1px solid white; border-radius:8px;
                    padding: 5px; background-color:#2064db; font-weight: bold;" href="/elections/">Return to Elections</a>


<h1>Voter Alerts</h1>



{% for election in elections %}
    <h3>{{ election }}</h3>
    {% for email in email_addresses %}
        <h4>{{ email }}</h4>
    {% endfor %}

{% endfor %}


{% endblock %}

{% block bottom %}
<br><hr>
<table>
    <tr>
        <td>
<a style="color:white; text-decoration:none; margin-left:2em; border: 1px solid white; border-radius:8px;
                    padding: 5px; background-color:#2064db; font-weight: bold;" href="/elections/">Return to Elections</a>
</td>
    </tr>

</table>
{% endblock %}
