{% extends "elections/base.html" %}
{% block content %}

<h1 style="display:inline-block;">Voter Alerts</h1>

<form style="display:inline-block;" action="/elections/sendingAlerts">
{% csrf_token %}
    <input id="sendAlertsButton" type="submit" value="Send Voter Alerts">
</form>

<p style="margin-left:4em;">Send voting alerts to users for the following active election(s):</p>
{% for election in active_elections %}
<h3><ul style="margin-left:4em;">{{ election }}</ul></h3>
{% endfor %}

{% endblock %}

{% block bottom %}
<br><hr>
<table>
    <tr>
        <td>
<a style="color:white; text-decoration:none; margin-left:2em; border: 1px solid white; border-radius:8px;
                    padding: 5px; background-color:#2064db; font-weight: bold;" href="/elections/">Return to Elections</a>
</td>
    </tr>

</table>
{% endblock %}
