{% extends "elections/base.html" %}
{% block content %}
<h1>{{ election.election_text }} Elections</h1>
<input type="button" onClick="send_request();" value="Request this page with AJAX">
This: <span id="ID"></span> --- <span id="idElection"></span> --- <span id="idUser">{{ ID }}</span>

<!-- Check here to see if user is registered, if not have a registration button available -->
<form action="{% url 'elections:election_register' election.id %}" method="get">
{% if user_check %} {{ user_check }}
 {{ message }}
{% else %}
	<form action="{% url 'elections:election_register' election.id %}" method="post">
		<input type="hidden" name="voter_id" value="{{voter.id}}">
		<input type="submit" value="Register" />
	</form>
{{ message }}
{% endif %}
</form>
<h3>Races listed:</h3>
<!-- Cycle through all races assigned to an election -->
<!-- Start loop through races in this election and list race details -->
{% for race in election.race_set.all %}

	<h4>{{ race.race_name }}</h4>
	<h6>{{ race.race_description }}</h4>
	<p>{{ race.race_detail }}</p>
	<h7>List of candidates</h7>
	<ul>

		<!-- Cycle through the candidates entered in this race, and post their details -->
		{% for candidate in race.candidate_set.all %}
		<li>{{ candidate.user.first_name }} {{ candidate.user.last_name }}
			<a href="/elections/profile/{{ candidate.user_id }}/"> profile</a></li>
		{% endfor %} <!-- End candidate cycle -->
		</ul><br>
		<!-- Check to see if user is entered as a candidate in this race, if not then give add button -->
		{% if race.is_candidate %}
			<p>You are entered in this race.</p>
		{% else %}
			<p>You are not entered ADD BUTTON HERE %}
		{% endif %}
{% endfor %} <!-- End race cycle -->
{% endblock %}

{% block bottom %}
<!-- Lower links of the voting form -->
<br><hr>
<table>
	<tr>
		<td><a href="/elections/">Return to Elections</a></td>
	</tr>
	<tr>
		<td><a href="/accounts/logout">Logout of System</a></td>
	</tr>
</table>
{% endblock %}

