<h1>{{ election.election_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'elections:vote' election.id %}" method="post">
{% csrf_token %}

{% for race in election.race_set.all %}
	<label for="race{{ forloop.counter }}">{{ race.race_name }}</label>
	<p>{{ race.race_description }}</p><br />
	
	{% for candidate in race.candidate_set.all %} 
    <input type="radio" name="candidate" id="candidate{{ forloop.counter }}" 
				value="{{ candidate.id }}" />
    <label for="candidate{{ forloop.counter }}">{{ candidate.candidate_name }}</label><br />
	{% endfor %}

{% endfor %}
<input type="submit" value="Vote" />
</form>
<a href="/accounts/logout">logout</a>
