{% extends "elections/base.html" %}

{% block content %}
<!-- If elections are created -->
{% if latest_election_list %}

    <br><br>
    <table id="t01">
        <tr>
            <th style="text-align: left">Election Name</th>
            <th></th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>

    <!-- Cycles through all the elections created -->
    {% for election in latest_election_list %}

        <!-- The table row view when the election is open goes to voting page -->
        {% if election.in_election_window %}
        <tr class="electionList" style="color:blue"
                onclick="location.href='{% url 'elections:voteform' election.id %}'">
            <td><a style="color: blue" class="electionList" href="{% url 'elections:voteform'                   election.id %}">{{ election.election_text }}</a>
            <!-- Offer link to results if user is an admin -->
            {% if request.user.is_staff %}
            <td><a href="{% url 'elections:results' election.id %}">Results</a></td>
            {% else %}
            <td></td>
            {% endif %}
            <td id="td02">Open</td>
            <td id="td03">{{ election.end_date }}</td>

        <!-- The table row view when the election is over. Goes to a results page -->
        {% elif election.is_closed %}
        <tr class="electionList" style="color:blue"
                onclick="location.href='{% url 'elections:detail' election.id %}'">
            <td><a style="color: blue" class="electionList" href="{% url 'elections:detail'                     election.id %}">{{ election.election_text }}</a>
            <!-- Offer link to results if user is an admin -->
            {% if request.user.is_staff %}
            <td><a href="{% url 'elections:results' election.id %}">Results</a></td>
            {% else %}
            <td></td>
            {% endif %}
            <td id="td02">Closed</td>
            <td id="td03">Closed</td>

        <!-- The table row displayed before the election opens. Goes to the details page -->
        {% else %}
        <tr class="electionList" style="color:blue"
                onclick="location.href='{% url 'elections:detail' election.id %}'">
            <td><a style="color: blue" class="electionList" href="{% url 'elections:detail'                     election.id %}">{{ election.election_text }}</a>
            <!-- Offer link to results if user is an admin -->
            {% if request.user.is_staff %}
            <td><a href="{% url 'elections:results' election.id %}">Results</a></td>
            {% else %}
            <td></td>
            {% endif %}
            <td id="td02">{{ election.start_date }}</td>
            <td id="td03">{{ election.end_date }}</td>
        {% endif %}
        </tr>
    {% endfor %}
<!-- Displays when no elections are available -->
{% else %}
    <p id="noElects">No polls are available.</p>
{% endif %}
	</table>
{% endblock %}
{% block bottom %}
{% endblock %}