{% extends "elections/base.html" %}

{% block content %}
<!-- If elections are created -->
{% if latest_election_list %}

    <br><br>
    <table id="t01">
        <tr>
            <col style="width:45px;">
            <col>
            <col>
            <col>
            <col>
            <th></th>
            <th style="text-align:left">Election Name</th>
            <th></th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>

    <!-- Cycles through all the elections created -->
    {% for election in latest_election_list %}

        <!-- The table row view when the election is open goes to voting page -->
        {% if election.in_election_window %}
        <tr class="electionList" style="color:blue">
            <td style="text-align:center;">
                <form style="margin:0;" class="regToVoteForm" method="POST" action="/elections/election_register/{{ election.id }}/">
                    {% csrf_token %}
                    <input title="Register to vote in this election." type="image" style="height:30px;width:30px;margin-left:10px;" src="{{ STATIC_URL }}images/registericon.png"/></input>
                </form>
            </td>
            <td><a style="color:blue;" class="electionList" href="{% url 'elections:voteform' election.id %}">{{ election.election_text }}</a>
            <!-- Offer link to results if user is an admin -->
            {% if request.user.is_staff %}
            <td><a href="{% url 'elections:results' election.id %}">Results</a></td>
            {% else %}
            <td></td>
            {% endif %}
            <td id="td02">Open</td>
            <td id="td03">{{ election.end_date }}</td>
        </tr>

        <!-- The table row view when the election is over. Goes to a results page -->
        {% elif election.is_closed %}
        <tr class="electionList" style="color:blue">
            <td></td>
            <td><a style="color:blue;" class="electionList" href="{% url 'elections:detail' election.id %}">{{ election.election_text }}</a>
            <!-- Offer link to results if user is an admin -->
            {% if request.user.is_staff %}
            <td><a href="{% url 'elections:results' election.id %}">Results</a></td>
            {% else %}
            <td></td>
            {% endif %}
            <td id="td02">Closed</td>
            <td id="td03">Closed</td>
        </tr>

        <!-- The table row displayed before the election opens. Goes to the details page -->
        {% else %}
        <tr class="electionList" style="color:blue">
            <td style="text-align:center;">
                <form style="margin:0;" class="regToVoteForm" method="POST" action="/elections/election_register/{{ election.id }}/">
                    {% csrf_token %}
                    <input title="Register to vote in this election." type="image" style="height:30px;width:30px;margin-left:10px;" src="{{ STATIC_URL }}images/registericon.png"/></input>
                </form>
            </td>
            <td><a style="color:blue;" class="electionList" href="{% url 'elections:detail' election.id %}">{{ election.election_text }}</a>
            <!-- Offer link to results if user is an admin -->
            {% if request.user.is_staff %}
            <td><a href="{% url 'elections:results' election.id %}">Results</a></td>
            {% else %}
            <td></td>
            {% endif %}
            <td id="td02">{{ election.start_date }}</td>
            <td id="td03">{{ election.end_date }}</td>
        {% endif %}
        </tr>
    {% endfor %}
<!-- Displays when no elections are available -->
{% else %}
    <p id="noElects">No polls are available.</p>
{% endif %}
	</table>
{% endblock %}
{% block bottom %}
{% endblock %}