{% extends "elections/base.html" %}
{% block content %}
                <br><br>
<a style="color:white; text-decoration:none; margin-left:2em; border: 1px solid white; border-radius:8px;
                    padding: 5px; background-color:#2064db; font-weight: bold;" href="/elections/">Return to Elections</a>


<h1>Election Monitoring</h1>

<h2>{{ election.election_text }}</h2>

<!-- Show a list of results in a table for admins or monitors only FOR NOW -->
<table>
    <tr>
         <!-- Each race will be show in a small table -->
            {% for race in races %}
            <table>
                <th>{{ race.race_name }}</th>
                <th>Total Votes: {{ race.id.count }}</th>
                {% for candidate in race.candidate_set.all %}
                    <tr>
                        <td>{{ candidate.user.first_name }} {{candidate.user.last_name }}</td>
                        <td>{{ results.num_votes }}</td></tr>
                {% endfor %}

            </table></tr>
            {% endfor %}

</table>

{% endblock %}

{% block bottom %}
<br><hr>
<table>
	<tr>
		<td>
<a style="color:white; text-decoration:none; margin-left:2em; border: 1px solid white; border-radius:8px;
                    padding: 5px; background-color:#2064db; font-weight: bold;" href="/elections/">Return to Elections</a>
</td>
	</tr>
</table>
{% endblock %}
