{% extends "elections/base.html" %}
{% block content %}

<h1>Election Monitoring</h1>

<h2>{{ election.election_text }}</h2>

<!-- Show a list of results in a table for admins or monitors only FOR NOW -->
{% for race, candidates in races.items %}
    <h4>{{ race }}</h4>
    {% for candidate in candidates %}
        {% for cand, num_votes in votes.items %}
            <p style="margin-left: 2em;">{{ candidate }}
            {% ifequal cand.user.last_name candidate %}
             - {{ num_votes }}
            {% endifequal %}
            </p>
        {% endfor %}
    {% endfor %}
{% endfor %}

{% endblock %}

{% block bottom %}
<br><hr>
<table>
	<tr>
		<td>
<a style="color:white; text-decoration:none; margin-left:2em; border: 1px solid white; border-radius:8px;
                    padding: 5px; background-color:#2064db; font-weight: bold;" href="/elections/">Return to Elections</a>
</td>
	</tr>
</table>
{% endblock %}
