{% extends "elections/base.html" %}
{% block content %}
<br><br>
<!-- This section is for when there is no profile for the candidate -->
{% if error_message %}
	<h1>{{ candidate.user.first_name }} {{ candidate }}</h1>
	<p>{{ error_message }} </p>
	
	<!-- Check if the user IS the candidate in the profile, then display the form -->
	{% ifequal user.id candidate.user_id %}
	<form action="/election/profile/{{ candidate.user_id }}/" method="POST">
	{% csrf_token %}
		<!-- Insert profile fields here -->
		<label for="candidate.user_id">Major: </label>
			<input id="major" type="text" name="major" values="{{ major }}">
			<br>
		<label for="candidate.user_id">Interests: </label>
			<input id="interests" type="text" name="interests" value="{{ interests }}">
			<br>
		<label for="candidate.user_id">Experience:</label>
			<input id="experience" type="text" name="experience" value="{{ experience }}">
			<br>
		<input type="submit" value="Save">
	</form>
	{% endifequal %}
{% else %} <!-- A profile already exists for the candidate -->
<h1>{{ candidate.user.first_name }} {{ candidate }}</h1>
	<h3>Candidate Profile:</h3>
		<p>Major: {{ profile.major }}</p>
		<p>Experience: {{ profile.interests }}</p>
		<p>Interests: {{ profile.experience }}</p>
<hr>
	<!-- Display a form for editing if the user IS the candidate -->
	{% ifequal user.id candidate.user_id %}
	<form action="/election/profile/{{ candidate.user_id }}/" method="POST">
	{% csrf_token %}
		<!-- Insert profile fields here -->
		<label for="candidate.user_id">Major: </label>
			<input id="major" type="text" name="major" values="{{ major }}">
			<br>
		<label for="candidate.user_id">Interests: </label>
			<input id="interests" type="text" name="interests" value="{{ interests }}">
			<br>
		<label for="candidate.user_id">Experience:</label>
			<input id="experience" type="text" name="experience" value="{{ experience }}">
			<br>
		<input type="submit" value="Save">
	{% endifequal %}
{% endif %}
{% endblock %}
{% block bottom %}
<!-- Lower links of the voting form -->
<br><hr>
<table>
	<tr>
		<td><a href="/elections/">Return to Elections</a></td>
	</tr>
	<tr>
		<td><a href="/accounts/logout">Logout of System</a></td>
	</tr>
</table>
{% endblock %}