{% extends "elections/base.html" %}


{% block content %}
<link rel="stylesheet" href="{{ STATIC_URL }}voteform.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/sweet-alert.css">
<script type="text/javascript" src="{{ STATIC_URL }}lib/sweet-alert.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}votescript.js"></script>


                <br><br>
<a style="color:white; text-decoration:none; margin-left:2em; border: 1px solid white; border-radius:8px;
                    padding: 5px; background-color:#2064db; font-weight: bold;" href="/elections/">Return to Elections</a>



<h1>{{ election.election_text }} Elections</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<!-- Start form - from and sent to corresponding /'election_id'/vote  page -->
<form id="voteForm" action="{% url 'elections:vote' election.id %}" method="post">
{% csrf_token %}

<!-- Cycle through all races assigned to an election -->
{% for race in election.race_set.all %}
	<fieldset class = "radiogroup">
	<input type="hidden" name="race_id[]" value="{{race.id}}">
	<legend style="font-weight:bold;"><label for="race{{ forloop.counter }}">{{ race.race_name }}</label></legend>
	<p>{{ race.race_description }}</p>
		
	<!-- Cycle through all the candidates in the given race -->	
	{% for candidate in race.candidate_set.all %} 	
    <input type="radio" name="candidate_race_{{race.id}}" value="{{ candidate.id }}" class="required"/>
    <label for="race_{{race.id}}">{{ candidate.user.first_name }} {{ candidate.user.last_name }}</label>
	<a href="/elections/profile/{{ candidate.id }}/">PROFILE</a><br />
	{% endfor %} <!-- End candidate cycle -->
	</fieldset>
	<br><br>
{% endfor %} <!-- End race cycle -->

<!-- Form submit -->
<input id="voteButton" type="submit" value="Vote!" />
</form>
{% endblock %}

{% block bottom %}
<!-- Lower links of the voting form -->
<br><hr>
<table>
	<tr>
		<td>
<a style="color:white; text-decoration:none; margin-left:2em; border: 1px solid white; border-radius:8px;
                    padding: 5px; background-color:#2064db; font-weight: bold;" href="/elections/">Return to Elections</a>
</td>
	</tr>

</table>
{% endblock %}
