<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}images/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}login.css" />
    <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/sweet-alert.css">
    <script type="text/javascript" src="{{ STATIC_URL }}lib/sweet-alert.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}script.js"></script>
</head>






    <!-- For the create account popup -->
    <div id="modal"></div>
    <div id="createUser"></div>
    <div id="userEmail">
        <img id='forgotmark' src='/static/images/info.png' style='margin-bottom: 20px; text-align: center; height: 100px; width: 100px;'/>
        <div>Please enter your email so we can send you a link to update your password.</div>
        <form id='forgotEmailForm' method='POST' action="{% url 'accounts.views.user_forgot_password' %}">
            {% csrf_token %}
            <input id='emailInput' class='formInput' placeholder='Email' name='email' />
        </form>
    </div>


    {% block content %}
    {% if form.errors %}
          <!--  <script>invalidCredentials();</script>  -->
    {% endif %}

    <img id="uniLogo" src="/static/images/uniVote.png" />

    <form id="loginForm" method="POST" action="{% url 'accounts.views.user_login' %}">
    {% csrf_token %}

    <div id="login">
        <input id="usernameInput" placeholder="Username" name="username" type="text" />
        <input id="passwordInput" title="" placeholder="Password" name="password" type="password" />

        <input id="loginButton" type="submit" value="Login" />
        <input type="hidden" name="next" value="/elections/" />

        <p style="display: inline-block;">No account? &nbsp</p>
        <a id="createAccountButton" href="javascript:createAccount();">Create one!</a>
    </div>
    </form>


    {% endblock %}



</html>