<link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}images/favicon.png"/>
<link rel="stylesheet" href="{{ STATIC_URL }}login.css" />
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/sweet-alert.css">
<script type="text/javascript" src="{{ STATIC_URL }}lib/sweet-alert.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}script.js"></script>


{% block content %}
{% if form.errors %}
        <script>invalidCredentials();</script>
{% endif %}

<img id="uniLogo" src="/static/images/uniVote.png" />

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}

<div id="login">
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
        </tr>
        <tr>
            <td class="bottomRow">{{ form.username }}</td>
        </tr>

        <tr>
            <td>{{ form.password.label_tag }}</td>
        </tr>
        <tr>
            <td class="bottomRow">{{ form.password }}</td>
        </tr>
    </table>

    <input id="loginButton" type="submit" value="Login" />
    <input type="hidden" name="next" value="/elections/" />
</div>
</form>

<!-- This div is for the popup showing invalid credentials have been used to login  -->
<div class="denied">
    <img id="xmark" src="/static/images/xmark.png" />
    <div id="deniedText"></div>
</div>


{% endblock %}
