<html>

<head>
    <script type="text/javascript" src="{{ STATIC_URL }}registerscript.js"></script>
</head>


    <form id="regForm" action="{% url 'accounts.views.user_register' %}" method="POST">
    {% csrf_token %}
        <h2>Please enter your details . . .</h2>

            <input style="margin-bottom: 1em; margin-right: 1em;" id="firstName" class="formInput" placeholder="First Name" name="first_name" type="text" />
            <input style="margin-bottom: 1em; margin-left: 1em;"  id="lastName" class="formInput"  placeholder="Last Name" name="last_name" type="text" />
            <input style="margin-bottom: 1em; margin-right: 1em;"  id="eMail" class="formInput"  placeholder="Email" name="email" type="text" />

            <input style="margin-bottom: 1em; margin-left: 1em;"  id="userName" class="formInput"  placeholder="Username" name="username" type="text" />
            <input style="margin-right: 1em;"  id="pass1" class="formInput"  placeholder="Password" name="password1" type="password" />
            <input style="margin-left: 1em;" id="pass2" class="formInput"  placeholder="Password Confirmation" name="password2" type="password" />

        <input id="cancelButton" onclick="javascript:cancel();" value="Cancel" type="button">
        <input id="signupButton" type="submit" value="Sign Up">

    </form>

</html>