<link rel="stylesheet" href="{{ STATIC_URL }}register.css" />
<script type="text/javascript" src="{{ STATIC_URL }}registerscript.js"></script>


<form id="regForm" action="/accounts/register/" method="POST">
{% csrf_token %}
    <h2>Please enter your details . . .</h2>

        <div id="column1">
        {{ form.first_name.label_tag }}  <br>
        {{ form.first_name }} <br><br>

        {{ form.last_name.label_tag }}  <br>
        {{ form.last_name }} <br><br>

        {{ form.email.label_tag }}  <br>
        {{ form.email }}
        </div>

        <div id="column2">
        {{ form.username.label_tag }}  <br>
        {{ form.username }} <br><br>

        {{ form.password1.label_tag }}  <br>
        {{ form.password1 }} <br><br>

        {{ form.password2.label_tag }}  <br>
        {{ form.password2 }}
        </div> <br>

    <input id="cancelButton" onclick="javascript:cancel();" value="Cancel" type="button">
    <input id="signupButton" type="submit" value="Sign Up">

</form>
