<head>
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}images/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}resetPass.css" />
    <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/sweet-alert.css">
    <script type="text/javascript" src="{{ STATIC_URL }}lib/sweet-alert.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
</head>

<title>Password Reset</title>



        <script>
            $(document).ready(function() {
                $("#newPassForm").submit(function(request)
                {
                    request.preventDefault();
                    var form = $(this);
    
                    // ajax call here for reset
                    $.ajax({
                        url: form.attr('action'),
                        type: form.attr('method'),
                        data: form.serialize(),
                        dataType: 'text',
                        success: function(response){
                            // code to update DOM here
                            console.log(response);
                            if(response === "passResetComplete")
                            {
                                swal({   title: "Success!.",
                                     text: "Your password is now changed. Click the button below to login.",
                                     type: "success",
                                     confirmButtonColor: "#DD6B55",
                                     confirmButtonText: "Login"},
                                     function(isConfirm){
                                        if (isConfirm)
                                        {
                                            window.location.href = "/";
                                        }
                                     }
                                );
                            }
                            else
                            {
                                swal({   title: "Oops...",
                                     text: "The passwords don't match! Try again.",
                                     type: "error"});
                            }
                        },
                        error: function(response){
                            // log ajax errors?  something went wrong
                            console.log(response);
                            swal({   title: "Oops...",
                                     text: "Something went wrong. Please try again.",
                                     type: "error"});
                        }
                    });
                });
            });
        </script>



<body>


    {% block content %}
    <div id="changePassDiv">
        <div id="headerBar">
            <p style="line-height: 4em;">Password Reset</p>
        </div>

        {% if validlink %}
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

        <form id="newPassForm" action="" method="post">
            {% csrf_token %}

                <input id="newPass1" placeholder="New password" name="new_password1" type="password" />
                <input id="newPass2" placeholder="One more time..." name="new_password2" type="password" />

            <input id="changePassButton" type="submit" value="Change Password!" />
        </form>

        {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
        {% endif %}

    </div>
    {% endblock %}
</body>